<div style="text-align:center">
<h1>Users</h1>
<%= link_to 'Sign Up', new_user_path %>


<table>
  <tr>
    <th>User ID</th>
    <th>Email</th>
    <th>Functions</th>
  </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= user.id  %></td>
      <td><%= user.email %></td>
      <td><%= link_to 'Show', user_path(user) %> 
      <%= link_to 'Destroy', user_path(user),
        method: :delete,
        data: { confirm: 'Are you sure?' } %>
      
      <% if owner?(user)  %>
      <%= link_to 'Edit', edit_user_path(user) %>
      <% end %>
        
      </td>
    </tr>
  <% end %>
</table>  
</div>