<div class="user-profile">
<%flash.each do |key, value|%>
  <%= content_tag :div,value, class:"alert alert-warning"%>
<%end%>
  <div class="profile row">
    <div class="col-md-4 avatar">
      <div class="wrapper">
        <% if @user.avatar.attached? %>
        <%= image_tag @user.avatar %>
        <%end %>
      </div>
    </div>
    <div class="col-md-8 basic-info">
      <div class="user-wrapper">
        <h2 class="username"><%= @user.email %></h2>
        <% if @user == current_user %>
          <a class="edit-profile" href="<%= edit_user_path(@user) %>">
            <button>Edit Profile</button>
          </a>
        <% end %>
      </div>
      <ul class="posts">
        <li><span><%= @posts.count %></span> posts</li>
        <li><span><%= @user.followers.count%></span> followers</li>
        <li><span><%= @user.following.count%></span> following</li>
      </ul>
      <h2 class="name"><%=@user.firstname %></h2>
    <% if current_user!=@user %>
      <% if current_user.following?(@user) %>
      <%= link_to 'Unfollow', friendship_path(user_id: @user.id), method: :delete, :class => "btn btn-primary" %>
      <% else %>
      <%= link_to 'Follow', friendships_path(user_id: @user.id), method: :post, :class => "btn btn-primary" %>
      <% end %>
    <% end %>  
    </div>
  </div>

  <div class="user-tabs">
    <a class="tab active" href="">
      <i class="fa fa-th"></i>
      POSTS
    </a>
    <a class="tab" data-toggle="tab" href="">
      <i class="fa fa-tv"></i>
      IGTV
    </a>
    <a class="tab" href="">
      <i class="fa fa-bookmark"></i>
      SAVED
    </a>
    <a class="tab" href="">
      <i class="fa fa-tag"></i>
      TAGGED
    </a>
  </div>


  <div class="user-images">
    <% @posts.each do |post|%>
      <div class="wrapper">
        <%=link_to user_post_path(@user.id,post) do %>
          <%=image_tag post.image %>
        <% end %>
      </div>
    <% end %>
  </div>
 
 <% if  @user.followers.count != 0%>
  <h3>Followers</h3> 
 <% else %>
  <h3>Followers on the way!</h3> 
 <% end %>
 
 
<% @user.followers.count do |followers|%>
<div class="user-images">
      <div class="wrapper" >
        <%=link_to user_path(followers.id) do %>
          <%=image_tag followers.avatar %>
        <% end %>
      </div>
  </div>
<% end %>

<%= link_to 'Back', users_path, :class => "btn btn-primary" %>
  
  
    
      

</div>
