<div class='homepage'>
  <div class='form-upload'>
    <%= render 'upload_form' %>
  </div>

  <div class="posts">
    <% @posts.each do |post| %>
      <%= render partial: 'post', locals: { post: post } %>
    <% end %>
    <%= paginate @posts %>
  </div>
</div> 
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>