<div class="post-show row">
  
  <div class="col-md-8">
    <%=image_tag @post.image, class: 'image' %>
  </div>
  <div class="col-md-4">
    <div class="description">
       <%= render partial: "description", locals: {post: @post} %>
    </div>
    <div class="delete">
    <% if current_user.posts.exists?(@post.id) %>
    <%= link_to 'Remove', [@post.user, @post], method: :delete, 
    data: { confirm: 'Are you sure?' } %>
    <% end %>
    <hr>
    <%= form_with(model: [@user,@post,@post.comments.build ], local: true) do |form| %>
    <p>
    <%= form.label :content %><br>
    <%= form.text_field :content %>
    </p>
    <%= form.submit %>
    <%end%>
    <%@comments.each do |comment|%>
      <p><strong><%=comment.user.firstname%></strong></p>   
      <p><%=comment.content%></p>
    <% end %>
    </div>
  </div>
 </div> 
    