<!DOCTYPE html>
<html>
  <head>
    <title>MicroProfile</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <body>
    <!--Navigation Bar-->
    <nav class="navbar navbar-light bg-light d-flex">
      <div class="container">
        <div class="logo">
          <a class="navbar-brand" href="<%= root_path %>">
            Instagram
          </a>
        </div>
        <div class="user-section">
          <% if user_signed_in? %>
            <a href="<%= users_path()%>">
              Users
            </a>
            <a href="<%= destroy_user_session_path %>" data-method="delete" data-confirm="Are you sure?">
            Log out
            </a>
          <% else %>
            <a href="<%= new_user_session_path%>">
              Log in
            </a>
          <% end %>
        </div>
      </div>
    </nav>

    <!--Main content-->
    <main class="container" style="min-height: 500px;">
      <%= yield %>
    </main>

    <!--Footer-->
    <footer class="container footer">
      <nav class="navbar d-flex">
        <ul>
          <li>ABOUT US</li>
          <li>SUPPORT</li>
          <li>TERMS</li>
        </ul>
        <p> INSTAGRAM-2020 with Ruby on Rails </p>
      </nav>
    </footer>
  </body>
</html>
